<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script type=text/javascript>
    $(function() {
      $('button#submit-btn').on('click', function(e) {
        e.preventDefault()
        var input = $('input')[0]
        $.ajax('/recipe', {
          data: JSON.stringify({url: input.value}),
          contentType: "application/json",
          type: "POST",
          success: (response) => {
            $('#result').append('<h3>' + JSON.stringify(response[0].title, null, 2) + '</h3>')
            $('#result').append('<p>' + JSON.stringify(response[0].instructions, null, 2) + '</p>')
            $('#result').append(makeUL(response[0].ingredients))
          },
          dataType: "json"
        })
        return false;
      });
    });

    function makeUL(items) {
      var list = document.createElement('ul');
      for (var item of items) {
        var itemElement = document.createElement('li');
        itemElement.appendChild(document.createTextNode(item.amount + ' ' + item.name));
        list.appendChild(itemElement);
      }
      return list;
    }
</script>

<!doctype html>
<html>

<head>
  <link rel="stylesheet" href="../static/style.css">
  <title>Recipe Webscraper</title>
</head>

<body>
  <div id="content">
    <h1>Import your favorite recipe</h1>
    <h2>https://www.chefkoch.de/rezepte/2892251441536454/Gemischter-Salat-mit-Feta-Kaese.html</h2>
    <div id="url-input">
      <input placeholder="URL" />
      <button id="submit-btn">Import</button>
    </div>
    <div id="result">
    </div>
  </div>
  <div id="footer">
    from 2024 by&nbsp;<a href="https://github.com/reloaddev/">reloaddev</a>.
  </div>
</body>

</html>